.produto-box {
  border: 3px solid #e9e9e9;
  border-radius: 18px;
  max-width: 230px;
  padding: 10px;
  margin: 25px;
  position: relative; /* Adiciona posicionamento relativo para coordenadas da animação */
  display: inline-block;
  vertical-align: top; /* Alinhar os elementos ao topo */
  box-sizing: border-box; /* Garantir que o padding não afete a largura */
  
}

.prod-vitrine-descricao-props {
  padding: 0.5px;
  font-size: 0.7rem;
  margin-bottom: 10px;
  overflow: hidden; /* Esconder texto que extrapola o contêiner */
  text-overflow: ellipsis; /* Adicionar reticências para indicar texto cortado */
  white-space: nowrap; /* Impedir que o texto quebre em várias linhas */
}
.prod-vitrine-preco {

  color: #7FFF00;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;

}


  
/* Adicione este estilo para a mensagem hover */
.message-hover {
  position: absolute; /* Posiciona a mensagem em relação ao container pai */
  top: 50%; /* Ajusta a posição verticalmente */
  left: 50%; /* Ajusta a posição horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza a mensagem */
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com transparência */
  color: #fff; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 30px; /* Borda arredondada */
  font-size: 14px; /* Tamanho da fonte */
  opacity: 0; /* Inicialmente invisível */
  animation: slideIn 0.3s ease forwards; /* Animação de entrada */
}

/* Estilo de hover para a mensagem */
.btn-cart:hover .message-hover {
  opacity: 1; /* Torna a mensagem visível ao passar o mouse sobre o botão */
}

/* produto-vitrine.css */
.produto-box {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message-hover {
  margin-top: 10px;
  color: green;
}



.prod-vitrine-descricao-props {
  margin: 10px 0;
}

.prod-vitrine-preco {
  font-size: 1.2em;
  color: #555;
}

.btn-cart {
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-cart .icon {
  margin-right: 5px;
}


/* Animação de entrada */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Inicia 10 pixels acima da posição normal */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição normal */
  }
}





