
.navbar {
  width: 100%;
  height: 150px;
  background-image: url("../../assets/planetburguer.gif");
  background-size: contain;
  background-repeat: repeat-x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
  
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}


.logotipo {
  max-width: 100px;
  width: 70%;
  padding: 10px 10px 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 50px;
  margin-top: 7rem;
  font-size: 15px;
  font-weight: 700;
}

.menu a {
  color: #000000;
  margin-right: 25px;
}

.menu a:hover {
  color: #7FFF00;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative; /* Adiciona posição relativa para os itens do menu */
  margin-right: 20px; /* Adiciona margem entre os itens do menu */
}

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8%;
}

.submenu a {
  display: block;
  padding: 8px 0;
  color: #333333;
  text-decoration: none;
}

.submenu a:hover {
  color: #ff0000;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.scroll-to-top:hover {
  background-color: #cc0000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


/* Regras de mídia para telas de até 500px */
@media screen and (max-width: 500px) {
  .logotipo {
      max-width: 30px; /* Reduz a largura do logotipo */
      padding: 10px; /* Ajusta o preenchimento do logotipo */
      display: flex;
      flex-wrap: wrap;
  }

  .menu {
      margin-right: 20px; /* Reduz a margem direita do menu */
  }

  .menu a {
      margin-right: 15px; /* Reduz a margem direita dos itens do menu */
  }
}
