.navbar {
  width: 100%;
  height: 150px;
  background-image: url("../../assets/planetburguer.gif");
  background-size: contain;
  background-repeat: repeat-x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logotipo {
  max-width: 100px;
  width: 70%;
  padding: 10px 10px 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 50px;
  margin-top: 7rem;
  font-size: 15px;
  font-weight: 700;
}

.menu a {
  color: #000000;
  margin-right: 25px;
}

.menu a:hover {
  color: #7FFF00;
}

.menu-item {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item .submenu {
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex-direction: column;
 
}

.menu .menu-item .menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8%;
}

.submenu a {
  display: block;
  padding: 8px 0;
  color: #333333;
  text-decoration: none;
}

.submenu a:hover {
  color: #ff0000;
  background-color: #f0f0f0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.home-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.home-icon,
.menu-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}


.navbar .btn-red .icon {
  fill: currentColor;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media screen and (max-width: 500px) {
  .sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}


/* Adicionando regra de mídia para telas menores */
@media screen and (max-width: 540px) {
  .logotipo {
    max-width: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    display: none;
  }

  .menu {
    margin-right: 20px;
  }

  .menu a {
    margin-right: 15px;
  }
}
